
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif
    box-sizing: border-box;
}
body{
    text-align: center;
    background-image: linear-gradient(to right top, #030303, #52baf2, #26acf5, #000000, #1e2325);
}
header{
    height: 15vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.container p{
    text-align: justify;
    margin: 2em;
    color: black;
}
.container-contactanos{
    text-align: center;
    margin: 2em;
}

.container h2{
    text-align: center;
    margin: 2em;
}
.container-contactanos p label{
    text-align: justify;
    margin: 2em;
    color: black;
        
}
/* header{
    grid-area: header;
    background-color: darkgray;
    border: 1px black solid;
    padding: 5px;
    position: sticky;
    top: 0;
    margin: 1px ;
} */
/* main h1 img{   
    grid-area: main;
    margin: 1px ;
    padding: 5px;
    text-align: center;
    font-size: 40px;
    height: 100%;
    width: 100%;
} */


/* Css para el navegador de la pagina web */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #03030350;
}
.logo{
color: white;
font-size: 35px;
letter-spacing: 1px;
cursor: pointer;

}
span{
    color: #f9004d;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.navbar ul li a:hover{
    color: #f9004d;
    transition: .4s;
   
}
footer{
    text-align: center;
    color: #f9004d;
    border: 10px 10px black;
    border-color: #000000
}


/* Css para la seccion de quienes somos */
/* .Somos{
    
    grid-area: seccionA;
    
}
.Somos h2{
    text-align: center;
    padding: 0.3em;
    font-size: 25px;
}
.Somos p{
    text-align: center;
    padding: 0.3em;
    font-size: 14px;
}

/* CSS para el apartado de servicios */

.Servicios{
    grid-area: seccionB;
    text-align: justify;
}
.Servicios h2{
    text-align: center;
    padding: 0.3em;
    font-size: 25px;
}
.Servicios p{
    text-align: center;
    padding: 0.3em;
    font-size: 14px;
}

/* Css para la seccion de quienes somos */
.opcion{
    
    grid-area: seccionC;
    
}
.opcion h2{
    text-align: center;
    padding: 0.3em;
    font-size: 25px;
    color: red;
}
.opcion p{
    text-align: center;
    padding: 0.3em;
    font-size: 14px;
}
footer{
   grid-area: footer;
   margin: 0.3em;
   margin-top: 20px;
}
#color {
    transition-property: background-color;
    transition-duration: 3s;
  }

.mt-btn {
    margin: 15px;
    height:40px; 
    width:100px; 
    position:relative;
    top:50%; 
    left:50%;
    border-radius: 0.5em;
    border: 1px 1px 1px;
    text-align: center;
    background: white;
    transition: background ease-in .3s;
}
.mt-btn:hover {
    background: yellow
    
} */
