*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
/* Css para las imagenes principales */
.imgprincipal{
    width: 100%;
    
}

header{
    grid-area: header;
    background-color: darkgray;
    border: 1px black solid;
    padding: 5px;
    position: sticky;
    top: 0;
    margin: 1px ;
}
main h1 img{   
    grid-area: main;
    margin: 1px ;
    padding: 5px;
    text-align: center;
    font-size: 40px;
    height: 100%;
    width: 100%;
}


/* Css para el navegador de la pagina web */
.navbar li{
    display: inline-block;
    margin: 5px;
    padding: 0.3em;
    text-align: center;
    grid-area: header;
}
.navbar a{
    text-decoration: none;
    text-align: center;
    grid-area: header;
}

/* Css para la seccion de quienes somos */
.Somos{
    
    grid-area: seccionA;
    
}
.Somos h2{
    text-align: center;
    padding: 0.3em;
    font-size: 25px;
}
.Somos p{
    text-align: center;
    padding: 0.3em;
    font-size: 14px;
}

/* CSS para el apartado de servicios */

.Servicios{
    grid-area: seccionB;
    text-align: justify;
}
.Servicios h2{
    text-align: center;
    padding: 0.3em;
    font-size: 25px;
}
.Servicios p{
    text-align: center;
    padding: 0.3em;
    font-size: 14px;
}

/* Css para la seccion de quienes somos */
.opcion{
    
    grid-area: seccionC;
    
}
.opcion h2{
    text-align: center;
    padding: 0.3em;
    font-size: 25px;
    color: red;
}
.opcion p{
    text-align: center;
    padding: 0.3em;
    font-size: 14px;
}
footer{
   grid-area: footer;
   margin: 0.3em;
   margin-top: 20px;
}


